/* Estilo para o carrinho de compras */
#shopping_cart {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}

/* Estilo para os itens do carrinho */
#cart_items div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

/* Estilo para o botão de remoção */
.remove-button {
  background-color: red;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Estilos para o modal do carrinho */
#shopping_cart {
  position: fixed;
  top: 34px;
  right: -100%; /* Inicialmente oculto fora da tela */
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease; /* Animação para exibir o carrinho */
  z-index: 1000; /* Garante que o modal fique na frente */
}

/* Classe que faz o carrinho aparecer */
#shopping_cart.show {
  right: 0; /* Move o carrinho para dentro da tela */
}

.cart-button{
  display: block;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.cart-button:hover {
  color: #FFD700;
}