footer {
    background-color: #003366; /* Rodapé em azul escuro */
    color: white; /* Texto em branco */
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #FFD700; /* Links em amarelo */
    text-decoration: none;
}
