#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
}

#cta {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#cta h1 {
    font-size: 2.5rem;
    color: #003366;
}

#cta .description {
    font-size: 1.125rem;
    color: black;
}

#cta_buttons {
    margin: 20px;
    display: inline-flex;
    justify-content: center;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-text);
    padding: 5px 10px;
    font-weight: 700;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 0.875rem;
    white-space: nowrap;
    text-decoration: none;
}

#banner {
    width: 100%;
    height: auto;
}

.home-banner {
    width: 100%;
    height: auto;
    max-height: 300px; 
    object-fit: cover;
}